
.app-container {
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  table {
    table-layout: fixed ;
    border-collapse: collapse;
    /* width: 86%; */
    list-style: none;
    /* margin: 5px 35px; */
  }

  th,
  td {
    border: 1px solid #ffffff;
    padding: 5px;
    font-size: 22px;
    width: 18%;
  }
  
  th {
    background-color: rgba(3, 3, 3, 0.836);
    /* padding: 3px; */
    color: rgb(8, 206, 241);
    font-weight: normal;
    /* width: 25%; */
    display: flex-start;
    justify-content: space-evenly;
  }
  
  td {
    background-color: rgba(8, 206, 241, 0.39);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: table-cell;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 15px;
  }

  input {
    height: 15px;
    width: 60px;
    font-size: 8px;
    text-align: center;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#add {
  position: relative;
  /* right: 100px; */
}

tr {
  display: table;
  /* display: table-cell; */
  justify-content: space-evenly;
  width: 100%;
  
}

button {
  font-size: 10px;
}

/* .AddItem {
  margin-right: 70px;
  position: flex;
  justify-content:center;
} */

.FormAdd {
  margin-left: 25px;
}

input {
  font-family: 'Aladin';
}

#add {
  position: relative;
  bottom: 4px;
}

/* #tablehead {
  display: table-cell;
  justify-content: space-evenly;
  width: 100%;
} */